@charset "UTF-8";
/* tiro-telugu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Tiro Telugu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/tiro-telugu-v7-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.card-text {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(131, 102, 91, 0.7);
}

.card-text-white {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ebe0e0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  color: #252424;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 80.5rem; /* 1288px */
  margin: 0 auto;
  padding: 0 1rem; /* 16px, чуть больше стандартных 15px */
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; /* Принудительно фиксируем ширину по тексту */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Центрируем текст внутри флекса */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px;
  backdrop-filter: blur(4px);
}

.pink-btn {
  background-color: #da8b80;
  color: #faf4ea;
  font-size: 1.3rem;
  padding: 7px 20px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.pink-btn:hover {
  -webkit-box-shadow: 0 4px 6px rgba(131, 102, 91, 0.4);
          box-shadow: 0 4px 6px rgba(131, 102, 91, 0.4);
}
.pink-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.header {
  width: 100%;
  padding: 50px 0 30px; /* Добавляем "воздуха" сверху и снизу */
}
.header__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* Элементы распределятся красиво и равномерно */
  gap: 2rem;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header__link {
  color: #da8b80;
  font-size: 1.3rem;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}
.header__link:hover {
  text-shadow: 0 4px 5px rgba(131, 102, 91, 0.5);
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  fill: #83665b;
}

.hero-section {
  min-height: 85vh;
  padding-top: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(url("/images/hero-image.webp") type("image/webp"), url("/images/hero-image.jpg") type("image/jpeg"));
  background-image: image-set(url("/images/hero-image.webp") type("image/webp"), url("/images/hero-image.jpg") type("image/jpeg"));
}
.hero-section__button {
  margin: 0 auto;
  color: #83665b;
  font-size: 1.7rem;
  padding: 7px 50px;
  background-color: rgba(250, 244, 234, 0.8);
  -webkit-box-shadow: 0 4px 5px rgba(131, 102, 91, 0.25);
          box-shadow: 0 4px 5px rgba(131, 102, 91, 0.25); /* Мягкая тень под цвет фона */
}
.hero-section__subtitle {
  margin-top: 180px;
  font-family: "Inter", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #faf4ea;
  text-shadow: 0 3px 3px rgba(131, 102, 91, 0.8);
}
.hero-section__title {
  font-family: "Tiro Telugu", serif;
  font-size: 10rem;
  font-weight: 500;
  line-height: 1.2;
  margin-left: -4px;
  color: #faf4ea;
  text-shadow: 0 4px 5px rgba(131, 102, 91, 0.8);
}

.advantages-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 180px 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages-section__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #da8b80;
}
.advantages-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  gap: 30px;
}
.advantages-section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  padding: 30px;
  border: 2px solid rgba(131, 102, 91, 0.3);
  border-radius: 0 90px 0 90px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.advantages-section__card:hover {
  -webkit-box-shadow: 0 4px 15px rgba(131, 102, 91, 0.6);
          box-shadow: 0 4px 15px rgba(131, 102, 91, 0.6);
}
.advantages-section__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(131, 102, 91, 0.2);
  fill: #83665b;
}
.advantages-section__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #83665b;
}

.collections-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collections-section__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #da8b80;
}
.collections-section__subtitle {
  text-align: center;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(131, 102, 91, 0.8);
}
.collections-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  gap: 20px;
}
.collections-section__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 5px rgba(131, 102, 91, 0.25);
          box-shadow: 0 4px 5px rgba(131, 102, 91, 0.25); /* Мягкая тень под цвет фона */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #a9af8d;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.collections-section__card:hover {
  -webkit-box-shadow: 0 4px 15px rgba(131, 102, 91, 0.85);
          box-shadow: 0 4px 15px rgba(131, 102, 91, 0.85);
}
.collections-section__image-wrap {
  width: 100%;
  height: 460px;
  overflow: hidden;
  border-radius: 50px;
}
.collections-section__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.collections-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  text-align: center;
  gap: 10px;
}
.collections-section__card-title {
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2;
  color: #faf4ea;
}
.collections-section__link {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(250, 244, 234, 0.5);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.collections-section__link:hover {
  color: #faf4ea;
}

.story-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.story-section__container {
  background-color: #f1d3b9;
  margin-top: 100px;
}
.story-section__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #da8b80;
}
.story-section__subtitle {
  text-align: center;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(131, 102, 91, 0.8);
}
.story-section__grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 800px;
}
.story-section__card {
  grid-column: 3/8;
  grid-row: 4/15;
  background: #ebe0e0;
  padding: 40px;
  z-index: 3;
}
.story-section__card-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #83665b;
}
.story-section__image-main {
  grid-column: 7/13;
  grid-row: 2/14;
  z-index: 1;
}
.story-section__image-main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.story-section__image-overlay {
  grid-column: 11/15;
  grid-row: 8/16;
  z-index: 2;
}
.story-section__image-overlay img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */