<section class="section advantages-section">
  <div class="container">
    <h2 class="advantages-section__title">Why Hadassah?</h2>

    <div class="advantages-section__list">
      <article class="advantages-section__card">
        <div class="advantages-section__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-leave"></use>
          </svg>
        </div>
        <h5 class="advantages-section__subtitle">Natural Ingredients</h5>
        <p class="card-text">Only organic components of the highest quality</p>
      </article>

      <article class="advantages-section__card">
        <div class="advantages-section__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <h5 class="advantages-section__subtitle">Innovative Formulas</h5>
        <p class="card-text">Advanced skincare technology</p>
      </article>

      <article class="advantages-section__card">
        <div class="advantages-section__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <h5 class="advantages-section__subtitle">Cruelty-Free</h5>
        <p class="card-text">Never tested on animals</p>
      </article>

      <article class="advantages-section__card">
        <div class="advantages-section__icon">
          <svg width="35" height="35">
            <use href="./images/icons.svg#icon-prise"></use>
          </svg>
        </div>
        <h5 class="advantages-section__subtitle">Premium Quality</h5>
        <p class="card-text">Certified luxury cosmetics</p>
      </article>
    </div>
  </div>
</section>
