<section class="section collections-section">
  <div class="container">
    <h2 class="collections-section__title">Our Collections</h2>
    <h5 class="collections-section__subtitle">
      Choose the perfect solution for your beauty
    </h5>

    <div class="collections-section__list">
      <!-- 1 card -->
      <article class="collections-section__card">
        <div class="collections-section__image-wrap">
          <picture>
            <source srcset="./images/collections1.webp" type="image/webp" />
            <img
              src="./images/collections1.jpg"
              alt="Skincare set"
              class="collections-section__image"
            />
          </picture>
        </div>

        <div class="collections-section__content">
          <h4 class="collections-section__card-title">Scincare</h4>
          <p class="card-text-white">Complete solutions for your skin</p>
          <a href="#" class="collections-section__link">Learn more</a>
        </div>
      </article>

      <!-- 2 card -->
      <article class="collections-section__card">
        <div class="collections-section__image-wrap">
          <picture>
            <source srcset="./images/collections2.webp" type="image/webp" />
            <img
              src="./images/collections2.jpg"
              alt="Skincare set"
              class="collections-section__image"
            />
          </picture>
        </div>

        <div class="collections-section__content">
          <h4 class="collections-section__card-title">Makeup</h4>
          <p class="card-text-white">Enhance your natural beauty</p>
          <a href="#" class="collections-section__link">Learn more</a>
        </div>
      </article>

      <!-- 3 card -->
      <article class="collections-section__card">
        <div class="collections-section__image-wrap">
          <picture>
            <source srcset="./images/collections3.webp" type="image/webp" />
            <img
              src="./images/collections3.jpg"
              alt="Skincare set"
              class="collections-section__image"
            />
          </picture>
        </div>

        <div class="collections-section__content">
          <h4 class="collections-section__card-title">Fragrances</h4>
          <p class="card-text-white">Exclusive scents for you</p>
          <a href="#" class="collections-section__link">Learn more</a>
        </div>
      </article>
    </div>
  </div>
</section>
