<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <a href="./index.html" class="footer__logo">
        <img src="./images/logo.svg" alt="Logo Hadassah" />
      </a>

      <p class="footer__slogan">
        Exclusive premium cosmetics <br />for daily care and luxury
      </p>

      <address class="footer__social">
        <a href="#" class="icon">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-insta"></use>
          </svg>
        </a>
        <a href="#" class="icon">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
        <a href="#" class="icon">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </address>
    </div>

    <load
      src="partials/menu.html"
      class="footer__menu"
      linkClass="header__link"
    />
    <!-- <ul class="footer__menu">
      <li><a class="header__link" href="../index.html">Home</a></li>
        <li><a class="header__link" href="../about.html">About</a></li>
        <li><a class="header__link" href="../scincare.html">Skincare</a></li>
        <li><a class="header__link" href="../makeup.html">Makeup</a></li>
        <li>
          <a class="header__link" href="../fragrances.html">Fragrances</a>
        </li>
        <li><a class="header__link" href="../contact.html">Contact</a></li>
    </ul> -->

    <!-- телефон, адрес и имэйл, как их вставлять есть в уроке 3 -->
    <address class="footer__contacts footer__slogan">
      <ul class="footer__list">
        <li>
          <a href="tel:+48786474864">+48 786 474 864</a>
        </li>
        <li>
          <a href="mailto:vladaskywind@gmail.com">hadassah@gmail.com</a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/2wZDGJeY12t9BAVz7" target="_blank"
            >Al. Jerozolimskie 50, 00-001 Warszawa</a
          >
        </li>
      </ul>
      <a href="catalog.html" class="button footer__btn">Treat Yourself</a>
    </address>

    <div class="footer__right">
      <h5 class="footer__title">Newsletter</h5>
      <p class="footer__slogan">Get exclusive offers and beauty tips</p>

      <!-- subscribe field + arow button -->
      <div class="newsletter">
        <form class="newsletter__form">
          <input
            type="email"
            placeholder="E-mail"
            required
            class="newsletter__input"
          />
          <button type="submit" class="newsletter__btn" aria-label="Send">
            <svg width="16" height="16">
              <use href="./images/icons.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </form>
      </div>
      <a class="footer__privacy" href="#">Privacy policy</a>
    </div>
  </div>
  <p class="footer__rights">© 2026 Hadassah. All rights reserved.</p>
</footer>
