<section class="getoff-section">
  <div class="container getoff-section__container">
    <h2 class="getoff-section__title">Get 15% off your first order</h2>
    <p class="card-text-white getoff-section__text">
      Subscribe to our newsletter and be the first to know about new products
      and special offers
    </p>
    <div class="getoff-section__buttons">
      <button
        class="button getoff-section__btn getoff-section__btn--mail"
        type="input"
      >
        Enter your e-mail
      </button>
      <button
        class="button getoff-section__btn getoff-section__btn--subscribe"
        type="submit"
      >
        Subscribe
      </button>
    </div>
  </div>
</section>
