<header class="header">
  <div class="container header__layout">
    <div class="header__logo">
      <a href="./index.html">
        <img src="./images/logo.svg" alt="Logo Hadassah" />
      </a>
    </div>

    <nav class="header__nav">
      <load
        src="partials/menu.html"
        class="header__menu"
        linkClass="header__link"
      />
      <!-- <ul class="header__menu">
        <li><a class="header__link" href="../index.html">Home</a></li>
        <li><a class="header__link" href="../about.html">About</a></li>
        <li><a class="header__link" href="../scincare.html">Skincare</a></li>
        <li><a class="header__link" href="../makeup.html">Makeup</a></li>
        <li>
          <a class="header__link" href="../fragrances.html">Fragrances</a>
        </li>
        <li><a class="header__link" href="../contact.html">Contact</a></li>
      </ul> -->
    </nav>

    <div class="header__right">
      <a href="catalog.html" class="button pink-btn">Shop Now</a>
      <!-- <button class="button pink-btn" type="button">Shop Now</button> -->

      <div class="header__icons">
        <a href="#" class="icon">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </a>
        <a href="#" class="icon">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-account"></use>
          </svg>
        </a>
        <a href="cart.html" class="icon">
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-buy"></use>
          </svg>
          <span class="header__cart-count"></span>
        </a>
      </div>
    </div>
  </div>
</header>
