<div class="mobile-menu__block">
  <div class="mobile-menu__icons">
    <a href="#" class="icon">
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </a>
    <a href="#" class="icon">
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-account"></use>
      </svg>
    </a>
    <a href="#" class="icon">
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-buy"></use>
      </svg>
    </a>
  </div>

  <button class="mobile-menu__btn menu-btn-open" type="button">
    <svg width="20" height="20">
      <use href="./images/icons.svg#icon-menu-1"></use>
    </svg>
  </button>
</div>

<div class="mobile-menu">
  <nav class="header__nav">
    <load
      src="partials/menu.html"
      class="mobile-menu__menu"
      linkClass="mobile-menu__link"
    />
    <!-- <ul class="mobile-menu__menu">
      <li><a class="mobile-menu__link" href="../index.html">Home</a></li>
      <li><a class="mobile-menu__link" href="../about.html">About</a></li>
      <li><a class="mobile-menu__link" href="../scincare.html">Skincare</a></li>
      <li><a class="mobile-menu__link" href="../makeup.html">Makeup</a></li>
      <li>
        <a class="mobile-menu__link" href="../fragrances.html">Fragrances</a>
      </li>
      <li><a class="mobile-menu__link" href="../contact.html">Contact</a></li>
    </ul> -->
  </nav>
  <button class="mobile-menu__btn-close menu-btn-close" type="button">
    <svg width="20" height="20">
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
</div>
