// Миксины для удобного обращения
@mixin h1-style {
  font-family: "Tiro Telugu", serif;
  font-size: 10rem;
  font-weight: 500;
  line-height: 1.2;
}

@mixin h2-style {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

@mixin h3-style {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

@mixin h4-style {
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2;
}

@mixin h5-style {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}

@mixin subtitle-style {
  font-family: "Inter", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
}

@mixin body-text {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

@mixin mini-text {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.card-text {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(#83665b, 0.7);
}

.card-text-white {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ebe0e0;
}
