@use "../utils/index" as u;

.about-hero-section {
  flex-direction: column;
  gap: 30px;

  // background-color: rgba(u.$color-yellow, 0.6); /* Запасной сплошной цвет */
  background-image: linear-gradient(
    180deg,
    #f1d3b9b3,
    #fff
  ); /* Основной градиент */

  &__title {
    margin-top: 40px;

    @media screen and (min-width: u.$bp-desktop) {
      margin-top: 60px;
    }
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr; /* В один столбик */
    gap: 40px; /* Расстояние между текстом и картинкой */ /* Выравнивание по вертикали (по центру) */
    align-items: center;

    @media screen and (min-width: u.$bp-desktop) {
      grid-template-columns: 1fr 1.5fr;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Отступы между абзацами */
  }

  &__image-wrapper {
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
  }

  &__image {
    // width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы картинка красиво заполняла блок без деформации */
  }
}

.about-join-section {
  justify-content: space-between;
  padding: 40px 0;
  margin-top: 60px;
  text-align: center;
  background-color: u.$color-green;

  @media screen and (min-width: u.$bp-desktop) {
    padding: 80px 0;
  }

  &__btn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 7px 20px;
    font-size: 1rem;
    color: u.$color-green;
    background-color: u.$color-primary-light;
    border: none;
    transition: box-shadow 0.3s;

    @media screen and (min-width: u.$bp-tablet) {
      font-size: 1.3rem;
    }

    &:hover {
      box-shadow: 0 4px 6px rgba(u.$color-secondary-dark, 0.4);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
