@use "../utils/index" as u;

.catalog-hero-container {
  margin-top: 40px;
}

.catalog-section {
  flex-direction: column;

  &__selection {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__layout {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (width >= 430px) {
      flex-direction: row;
    }

    @media screen and (min-width: u.$bp-desktop) {
      gap: 50px;
    }
  }

  &__main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 10%;
    list-style: none;

    @media screen and (width >= 430px) {
      padding: 0 10% 0 0;
    }

    @media screen and (min-width: u.$bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: u.$bp-desktop) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0;
    }
  }
}

// Выпадающий список

.custom-select {
  position: relative;
  display: flex;

  &.is-open {
    .custom-select__arrow {
      transform: rotate(180deg);
    }

    /* Когда на .toolbar__select есть класс .is-open,
//находим внутри него .toolbar__dropdown и показываем */
    .custom-select__dropdown {
      position: absolute;
      top: 45px;
      left: 0;
      z-index: 10;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__button {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    min-width: 160px;
    padding: 8px 20px;
    color: u.$color-secondary-dark;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(u.$color-brand, 0.3);
    border-radius: 20px;

    @include u.mini-text;
  }

  &__arrow {
    flex-shrink: 0;
    transition: transform 0.5s ease;
  }

  &__dropdown {
    position: absolute;
    top: 20;
    right: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    padding: 6px 0;
    margin: 0;
    color: u.$color-secondary-dark;
    list-style: none;
    background-color: #f3e5e1;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(u.$color-secondary-dark, 0.3);
    opacity: 0;
    transform: translateY(-6px);
    transition: all 0.2s ease;

    @include u.mini-text;
  }

  &__option {
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(#000, 0.04);
    }

    &.is-active {
      font-weight: 600;
    }
  }
}

// Sidebar

.sidebar {
  flex-shrink: 0;

  @media screen and (min-width: u.$bp-tablet) {
    width: 230px;
  }

  &__filter-widget {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 24px;
    background-color: #f5e8e5;
    border-radius: 12px;

    @media screen and (width >= 430px) {
      gap: 30px;
    }
  }

  &__title {
    @include u.h5-style;

    font-weight: 600;
    color: u.$color-secondary-dark;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

    @media screen and (width >= 430px) {
      gap: 30px;
    }
  }

  &__categories li {
    display: flex;

    @include u.mini-text;

    color: u.$color-secondary-dark;
  }

  &__categories a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    transition:
      color,
      font-weight 0.2s;

    &:hover {
      font-weight: 600;
      color: u.$color-brand;
    }
  }

  &__count {
    font-weight: 600;
  }
}

.price-range {
  position: relative;
  display: flex;
  align-items: center;

  &__slider {
    width: 100%;
    height: 0.5rem;
    appearance: none;
    background-color: rgba(u.$color-secondary-dark, 0.3);
    border-radius: 25px;

    &::-webkit-slider-thumb {
      width: 16px;
      height: 16px;
      appearance: none;
      cursor: pointer;
      background-color: #a38283;
      border-radius: 50%;
      transition: transform 0.15s ease;
    }
  }

  &__labels {
    display: flex;
    justify-content: space-between;

    @include u.body-text;

    color: u.$color-secondary-dark;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 80px 0;

  &__list {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(u.$color-secondary-dark, 0.8);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    &:hover {
      background-color: rgba(u.$color-brand, 0.3);
    }

    &.is-active {
      color: u.$color-secondary-dark;
      cursor: default;
      background-color: rgba(u.$color-brand, 0.25);
    }
  }
}
