@use "../utils/index" as u;

.contacts-section {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
    margin: 0 2rem;

    @media screen and (min-width: u.$bp-tablet) {
      margin: 0 5rem;
    }

    @media screen and (min-width: u.$bp-desktop) {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 60px;
  }
}

.shipping-section {
  margin-top: 60px;
  text-align: center;
  background-color: u.$color-green;

  &__btn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 7px 20px;
    font-size: 1rem;
    color: u.$color-secondary-dark;
    background-color: u.$color-primary-light;
    border: none;
    transition: box-shadow 0.3s;

    @media screen and (min-width: u.$bp-tablet) {
      font-size: 1.3rem;
    }

    &:hover {
      box-shadow: 0 4px 6px rgba(u.$color-secondary-dark, 0.4);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
