@use "../utils/index" as u;

.quiz-section {
  padding: 40px;
  background-color: u.$color-yellow;

  &__container {
    display: grid;
    grid-template-columns: 1fr; /* В один столбик */
    align-items: center;

    @media screen and (min-width: u.$bp-tablet) {
      gap: 0;
    }

    @media screen and (min-width: u.$bp-desktop) {
      grid-template-columns: 1fr 1.5fr;
      gap: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Отступы между абзацами */
  }

  &__title {
    @include u.h2-style;

    color: u.$color-secondary-dark;
  }

  &__text {
    @include u.body-text;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: end;
    padding: 2rem 0;
  }

  &__btn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 7px 20px;
    font-size: 1rem;
    color: u.$color-secondary-dark;
    background-color: u.$color-primary-light;
    border: none;
    transition: box-shadow 0.3s;

    @media screen and (min-width: u.$bp-tablet) {
      font-size: 1.3rem;
    }

    &:hover {
      box-shadow: 0 4px 6px rgba(u.$color-secondary-dark, 0.4);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    min-width: 0;
    height: 50vh;
    margin: 0 1rem;
    overflow: hidden;
    border-radius: 24px;

    @media screen and (width <= 480px) {
      margin: 0 -3rem;
    }

    @media screen and (min-width: u.$bp-tablet) {
      height: 70vh;
      margin: 0 3rem;
    }

    @media screen and (min-width: u.$bp-desktop) {
      align-items: flex-end;
      height: auto;
      margin: 0;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover; /* Чтобы картинка красиво заполняла блок без деформации */
    object-position: center bottom;
  }
}
