@use "../utils/index" as u;

.programs-section {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    gap: 2rem;
    margin: 60px 0;
  }
}

.programs-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(#000, 0.2);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 6px 15px rgba(u.$color-secondary-dark, 0.6);
  }

  &__heder {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 1rem 2rem;
    color: #fff;
  }

  &__morning {
    background-color: u.$color-yellow;
  }

  &__evening {
    background-color: u.$color-dark-yellow;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(#fff, 0.3);
    border-radius: 50%;
    fill: #fff;
  }

  &__title {
    @include u.h3-style;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    list-style: none;
    counter-reset: custom-counter; /* Для кастомной нумерации */
  }

  &__item {
    counter-increment: custom-counter;
  }

  /* Кастомный круг с цифрой */
  &__item::before {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 14px;
    color: #7d726d;
    content: counter(custom-counter) ".";
    background-color: rgba(u.$color-brand, 0.2);
    border-radius: 50%;
  }
}

.products-section {
  display: flex;
  flex-direction: column;
}
