@use "../utils/index" as u;

.four-cards-two {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  padding: 10% 20%;

  @media (width <= 1260px) and (min-width: u.$bp-desktop) {
    gap: 10px;
  }

  @media screen and (min-width: u.$bp-tablet) {
    padding: 5% 25%;
  }

  @media screen and (min-width: u.$bp-desktop) {
    flex-direction: row;
    padding: 120px 0 0;
  }
}

.product-card {
  display: flex;
  flex: 1; // чтобы каждая карточка брала одинаковую ширину
  flex-direction: column;
  height: 30vh;
  min-height: 0;
  overflow: hidden;
  text-align: left;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 5px rgba(u.$color-secondary-dark, 0.25); /* Мягкая тень под цвет фона */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s;

  @media screen and (min-width: u.$bp-desktop) {
    height: 444px;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(u.$color-secondary-dark, 0.85);
    transform: translateY(-2px);
  }

  &__image-wrap {
    position: relative; // ОБЯЗАТЕЛЬНО: относительно этого блока позиционируем ссылку
    width: 100%;
    height: 200px;

    // height: 80%;
    overflow: hidden;

    @media screen and (min-width: u.$bp-tablet) {
      height: 300px;
    }
  }

  &__overlay-link {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 2px 7px;
    color: u.$color-brand;
    white-space: nowrap; // чтобы не переносился текст, если экран будет уже
    text-decoration: none;
    pointer-events: none; /* Чтобы мышка не цеплялась за невидимый элемент */
    background-color: rgba(#fff, 0.8);
    border-radius: 20px;

    /* Скрываем ссылку по умолчанию */
    opacity: 0;

    /* Выравниваем ровно по центру картинки и слегка опускаем вниз в исходном состоянии */
    transform: translate(-50%, -40%);

    @include u.mini-text;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  &:hover &__overlay-link {
    pointer-events: auto; /* Включаем кликабельность */
    opacity: 1;
    transform: translate(-50%, -50%); /* Плавно всплывает точно в центр */
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    // object-position: top 10%; /* <--- Прижимает фото к верхнему краю */
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  &__category {
    color: rgba(u.$color-secondary-dark, 0.6);
  }

  &__title {
    @media screen and (min-width: u.$bp-tablet) {
      white-space: nowrap; // чтобы не переносился текст, если экран будет уже
    }
  }

  &__description {
    @include u.micro-text;

    color: u.$color-secondary-dark;

    @media screen and (min-width: u.$bp-tablet) {
      white-space: nowrap;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    color: u.$color-brand;
  }

  &__btn {
    cursor: pointer;
    background: transparent;
    border: none;
    transition: color 0.3s;

    &:hover {
      color: u.$color-secondary-dark;
      text-decoration: underline;
    }
  }
}
