@use "../utils/index" as u;

.advantages-section {
  display: flex;
  justify-content: space-between;
  padding: clamp(60px, 12vh, 180px) 0 clamp(40px, 12vh, 80px);

  @media screen and (min-width: u.$bp-desktop) {
    padding: 180px 0 80px;
  }

  &__title {
    color: u.$color-brand;
    text-align: center;

    @include u.h2-style;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    padding: 10%;

    @media (width <= 1260px) and (min-width: u.$bp-desktop) {
      gap: 10px;
    }

    @media screen and (min-width: u.$bp-tablet) {
      padding: 5% 20%;
    }

    @media screen and (min-width: u.$bp-desktop) {
      flex-direction: row;
      padding: 120px 0 0;
    }
  }

  &__card {
    display: flex;
    flex: 1; // чтобы каждая карточка брала одинаковую ширину
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
    text-align: center;
    border: 2px solid rgba(u.$color-secondary-dark, 0.3);
    border-radius: 0 90px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 15px rgba(u.$color-secondary-dark, 0.6);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(u.$color-secondary-dark, 0.2);
    border-radius: 50%;
    fill: u.$color-secondary-dark;
  }

  &__subtitle {
    @include u.h5-style;

    color: u.$color-secondary-dark;
  }
}
