@use "../utils/index" as u;

.collections-section {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;

  &__title {
    text-align: center;
    @include u.h2-style;
    color: u.$color-brand;
  }

  &__subtitle {
    text-align: center;
    margin-top: 20px;
    @include u.h5-style;
    color: rgba(u.$color-secondary-dark, 0.8);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    gap: 20px;
  }

  &__card {
    display: flex;
    flex: 1; // чтобы каждая карточка брала одинаковую ширину
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(u.$color-secondary-dark, 0.25); /* Мягкая тень под цвет фона */
    align-items: center;
    text-align: center;
    background-color: u.$color-green;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 15px rgba(u.$color-secondary-dark, 0.85);
    }
  }

  &__image-wrap {
    width: 100%;
    height: 460px;
    overflow: hidden;
    border-radius: 50px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 10px;
  }

  &__card-title {
    @include u.h4-style;
    color: u.$color-primary-light;
  }

  &__link {
    @include u.body-text;
    color: rgba(u.$color-primary-light, 0.5);
    transition: color 0.3s;

    &:hover {
      color: u.$color-primary-light;
    }
  }
}
