.container {
  width: 100%;
  max-width: 80.5rem; /* 1288px */
  margin: 0 auto;
  padding: 0 1rem; /* 16px, чуть больше стандартных 15px */
  // Твоя гарантия, что на айфонах контент не прилипнет к экрану
}
