@use "../utils/index" as u;

.footer {
  padding: 0 30px 100px;
  background-color: rgba(u.$color-brand, 0.3);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 80px 0;

    @media screen and (min-width: u.$bp-desktop) {
      flex-direction: row;
      gap: 40px;
      align-items: start;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;

    @media screen and (min-width: u.$bp-desktop) {
      flex: 1;
      align-items: start;
      text-align: left;
    }
  }

  &__logo {
    /* Главный секрет плавности — transition */
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:hover {
      /* Увеличиваем элемент на 5% (1.05) */
      transform: scale(1.05);
    }

    &:active {
      /* При клике возвращаем или даже чуть утапливаем элемент */
      transform: scale(0.98);
    }
  }

  &__slogan {
    @include u.body-text;

    color: u.$color-secondary-dark;
  }

  &__social {
    display: flex;
    gap: 30px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: u.$color-brand;

    @include u.body-text;

    @media screen and (min-width: u.$bp-desktop) {
      flex: 1;
      align-items: start;
      text-indent: 40px; /* Сдвинет первую строку текста вправо на 40 пикселей */
    }
  }

  &__link {
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      transform: translateX(-2px); /* Просто смещаем вверх */
    }

    &:active {
      transform: translateX(1px); /* При клике слегка вдавливается */
    }
  }

  &__contacts {
    flex: 1;
    font-style: normal;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: u.$bp-desktop) {
      align-items: start;
    }
  }

  &__btn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 7px 20px;
    margin-top: 30px;
    font-size: 1rem;
    color: #fff;
    background-color: u.$color-brand;

    @media screen and (min-width: u.$bp-tablet) {
      padding: 7px 20px;
      font-size: 1.3rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: u.$bp-desktop) {
      flex: 1;
      align-items: start;
    }
  }

  &__title {
    @include u.h5-style;

    color: u.$color-secondary-dark;
  }

  &__privacy {
    @include u.mini-text;

    margin-top: 40px;
    color: rgba(u.$color-secondary-dark, 0.8);
  }

  &__rights {
    color: u.$color-secondary-dark;
    text-align: center;

    @include u.mini-text;
  }
}
