@use "../utils/index" as u;

.header {
  width: 100%;
  padding: 30px 0; /* Добавляем "воздуха" сверху и снизу */

  @media screen and (min-width: u.$bp-desktop) {
    padding: 50px 0 30px;
  }

  &__layout {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between; /* Элементы распределятся красиво и равномерно */

    @media screen and (min-width: u.$bp-desktop) {
      gap: 2rem;
    }
  }

  &__logo {
    display: flex;
    margin-left: 1rem;

    @media screen and (min-width: u.$bp-tablet) {
      margin-left: 2rem;
    }

    @media screen and (min-width: u.$bp-desktop) {
      flex: 1;
      margin-left: 0;

      /* Главный секрет плавности — transition */
      transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

      &:hover {
        /* Увеличиваем элемент на 5% (1.05) */
        transform: scale(1.05);
      }

      &:active {
        /* При клике возвращаем или даже чуть утапливаем элемент */
        transform: scale(0.98);
      }
    }
  }

  &__nav {
    flex: 3;
  }

  &__menu {
    display: none;

    @media screen and (min-width: u.$bp-desktop) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__link {
    font-size: 1.3rem;
    color: u.$color-brand;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      transform: translateY(-2px); /* Просто смещаем вверх */
    }

    &:active {
      transform: translateY(1px); /* При клике слегка вдавливается */
    }
  }

  &__right {
    display: flex;
    margin-right: 1rem;

    @media screen and (min-width: u.$bp-tablet) {
      margin-right: 2rem;
    }

    @media screen and (min-width: u.$bp-desktop) {
      flex: 1.2;
      justify-content: space-evenly;
      margin-right: 0;
      text-align: center;
    }
  }

  &__icons {
    display: none;

    @media screen and (min-width: u.$bp-desktop) {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      fill: u.$color-secondary-dark;
    }
  }
}
