@use "../utils/index" as u;

.header {
  width: 100%;
  padding: 50px 0 30px; /* Добавляем "воздуха" сверху и снизу */

  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Элементы распределятся красиво и равномерно */
    gap: 2rem;
  }

  &__logo {
    flex: 1;
    /* Главный секрет плавности — transition */
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

    &:hover {
      /* Увеличиваем элемент на 5% (1.05) */
      transform: scale(1.05);
    }

    &:active {
      /* При клике возвращаем или даже чуть утапливаем элемент */
      transform: scale(0.98);
    }
  }

  &__nav {
    flex: 3;
  }

  &__menu {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    color: u.$color-brand;
    font-size: 1.3rem;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      transform: translateY(-2px); /* Просто смещаем вверх */
    }

    &:active {
      transform: translateY(1px); /* При клике слегка вдавливается */
    }
  }

  &__right {
    display: flex;
    flex: 1.2;
    text-align: center;
    justify-content: space-evenly;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    fill: u.$color-secondary-dark;
  }
}
