@use "../utils/index" as u;

.hero-section {
  min-height: 85vh;
  padding-top: 30px;
  background-image: image-set(
    url("../images/hero-image.webp") type("image/webp"),
    url("../images/hero-image.jpg") type("image/jpeg")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__button {
    padding: 7px 30px;
    margin: 0 auto;
    font-size: 1.4rem;
    color: u.$color-secondary-dark;
    background-color: rgba(u.$color-primary-light, 0.8);
    box-shadow: 0 4px 5px rgba(u.$color-secondary-dark, 0.25); /* Мягкая тень под цвет фона */

    @media screen and (min-width: u.$bp-tablet) {
      padding: 7px 50px;
      font-size: 1.7rem;
    }
  }

  &__subtitle {
    margin: clamp(60px, 12vh, 180px) 30px 20px;

    @include u.subtitle-style;

    color: u.$color-primary-light;
    text-shadow: 0 3px 3px rgba(u.$color-secondary-dark, 0.8);
  }

  &__title {
    @include u.h1-style;

    margin-left: 26px;
    color: u.$color-primary-light;
    text-shadow: 0 4px 5px rgba(u.$color-secondary-dark, 0.8);
  }
}
