@use "../utils/index" as u;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: u.$color-yellow;
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
  }

  &__block {
    position: fixed; /* Вырываем из потока */
    top: 0; /* Отступ от верхнего края страницы */
    z-index: 10; /* Чтобы кнопка не спряталась под хедер */
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 35px;
    background-color: rgba(u.$color-brand, 0.5);

    @media screen and (min-width: u.$bp-desktop) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    fill: #fff;

    @media screen and (min-width: u.$bp-tablet) {
      margin-left: 3rem;
    }
  }

  &__btn {
    margin-right: 2rem;
    margin-left: auto;
    background-color: transparent;
    border: none;
    fill: #fff;

    @media screen and (min-width: u.$bp-tablet) {
      margin-right: 3rem;
    }
  }
}
