@use "../utils/index" as u;

.story-section {
  flex-direction: column;
  justify-content: space-between;

  &__container {
    margin-top: 50px;
    background-color: u.$color-yellow;

    @media screen and (min-width: u.$bp-desktop) {
      margin-top: 100px;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: u.$bp-desktop) {
      display: grid;

      // Теперь 16 рядов
      grid-template-rows: repeat(16, 1fr);

      // Создаем 16 равных колонок, как на макете
      grid-template-columns: repeat(16, 1fr);

      // Задаем фиксированную ширину
      height: 800px;
    }
  }

  &__card {
    z-index: 3; // Самый верхний слой среди контента
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 60px;
    background: u.$color-brand-light;

    @media screen and (min-width: u.$bp-desktop) and (width <= 1150px) {
      padding: 40px;
    }

    @media screen and (width >= 1151px) {
      padding: 40px 60px;
    }

    @media screen and (min-width: u.$bp-desktop) {
      grid-row: 5 / 15;
      grid-column: 3 / 8; // Занимает с 3 по 8 колонку
    }
  }

  &__card-title {
    margin-bottom: 20px;
    color: u.$color-secondary-dark;
    text-align: center;

    @include u.h3-style;
  }

  &__text {
    @include u.body-text;

    margin-bottom: 20px;

    @media screen and (min-width: u.$bp-desktop) {
      margin-bottom: 0;
    }
  }

  &__btn {
    align-self: flex-end;
  }

  &__image-main {
    padding: 5% 20% 0 10%;

    @media screen and (min-width: u.$bp-desktop) {
      z-index: 1; // Базовый слой
      grid-row: 2 / 14;
      grid-column: 7 / 13; // Начинается под карточкой, уходит вправо
      padding: 0;
    }
  }

  &__image-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image-overlay {
    padding: 0 10% 5% 30%;
    margin-top: -5%;

    @media screen and (min-width: u.$bp-desktop) {
      z-index: 2;
      grid-row: 8 / 16;
      grid-column: 11 / 15;
      padding: 0;
      margin-top: 0;
    }
  }

  &__image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
